.App {
  $heading-color: #E2F063;

  &-container{
    display: flex;
    flex-direction: column;
    margin: 0 60px;
  }

  &-heading{
    font-size: 80px;
    font-weight: 400;
    color: $heading-color;
    margin: 0;
    margin-top: 50px;
  }

  &-description{
    font-size: 40px;
    font-weight: 300;
    width: 80%;
  }
}
